body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  font-family: Verdana;
  color: white;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 500px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
  font-family: Arial;
}

.backHead {
  background-color: pink;
}

.button2 {
  padding: 20px 40px;
  font-size: 35px;
  text-align:center;
  cursor: pointer;
  outline: none;
  color: white;
  font-family: Arial;
  font-weight: bolder;
  border-radius: 15px;
  background-color: #FF69Bf;

}

.button2:hover{ background-color: #C71585;}

.button2:active {
  background-color: #C71585;
  transform: translateY(4px);
}

.changeColor {
  background-color: lightblue;
}
